<!DOCTYPE html>
<html ng-app="simpleApp">
<head lang="en">
    <meta charset="utf-8">
    <title>Input Transaction </title>
    <style>
.data th , .data td {
border: 1px solid grey;
border-collapse: collapse;
padding: 5px;
}
.data tr:nth-child(odd) {
background-color: #f2f2f2;
}
.data tr:nth-child(even) {
background-color: #ffffff;
}
</style>
</head>
<body>
<h2>Insert Transaction</h2>
<div ng-controller="mainController">
    <form> 
        <table border="0">
            <tr>
                <td>TRX_ID</td>
                <td><input type="text" ng-model="newTrxId" /></td>
            </tr>
            <tr>
                <td>NAME</td>
                <td><input type="text" ng-model="newName" /></td>
            </tr>
			 <tr>
                <td>ITEM</td>
                <td><input type="text" ng-model="newItem" /></td>
            </tr>
			 <tr>
                <td>IMAGE</td>
                <td><input type="text" ng-model="newImage" /></td>
            </tr>
            <tr>
                <td></td>
                <td><button ng-click="reset()">Reset</button> <input type="button" value="Save" ng-click="addUser()"></td>
            </tr>
        </table>
    </form>
    <br />
    <h2>List Transaction</h2>
    <table class="data" cellspacing="0" cellpadding="0">
        <t>
            <th>TRX_ID</th>
            <th>NAME</th>
			<th>ITEM</th>
			<th>IMAGE</th>
			<th>ACTION</th>
        </tr>
        <tr ng-repeat="transaction in transactions">
			<td>{{ transaction.transaction_trx_id }}</td>
            <td>{{ transaction.transaction_name }}</td>
            <td>{{ transaction.transaction_item }}</td>
			<td>{{ transaction.transaction_image }}</td>
            <td><button ng-click="deleteTransaction( transaction.USER_ID )">Delete</button></td>
        </tr>
    </table>
</div>
<script src="angular.min.js"></script>
<script src="script.js"></script>
</body>
</html>